input{
    display: block;
    margin-left: auto;
    width: 60%;
}
label{
    display: flex;
    padding: 20px;
}
form{
    margin:10px auto;
}

.form-submit{

    height: 60px;
    width: 150px;
    background: linear-gradient(to left, #4776e6, #8e54e9);
    cursor: pointer;
    color: white;
    font-size :0.9rem;
    font-weight : 300;
    border-radius: 4px;

}
